[user]
	name = Nestor Navarro
	email = nestornav@gmail.com
[github]
	user = nestornav
[alias]
	tree = log --graph --pretty=format':%C(yellow)%h%C(blue reverse bold)%d%Creset %s %C(white) %an, %ar%Creset'
	st = status
	cm = commit -m
	br = branch
	brd = branch -D
	brr = branch -a
	ck = checkout
	ckb = checkout -b
	sh = stash
	shl = stash list
[push]
	default = simple
